.footer {
  text-align: center;
  padding: 0.75rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--shadow);
}

.dark,
.wine {
  background-color: #003399;
  color: #fff;
}
